main/pkgs/Wadl/PeoplePatch.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://uk-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PeoplePatch" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="PeoplePatch" />
  <grammars>
    <jsonTypes targetNamespace="https://uk-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Getitems_FilterQuery_def" />
      <string name="ManualTriggerInput_Getitems_FilterQuery_1_def" />
      <string name="ManualTriggerInput_Updateitem_Photog_ux23_1Claims_def" />
      <string name="ManualTriggerInput_Updateitem_Photog_ux23_2Claims_def" />
      <object name="ManualTriggerInput">
        <property name="Getitems_FilterQuery" type="string" />
        <property name="Getitems_FilterQuery_1" type="string" />
        <property name="Updateitem_Photog#1Claims" type="string" />
        <property name="Updateitem_Photog#2Claims" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://uk-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Getitems_FilterQuery" path="/Getitems_FilterQuery" type="xs:string" required="true" />
            <param style="plain" name="Getitems_FilterQuery_1" path="/Getitems_FilterQuery_1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_Photog#1Claims" path="/Updateitem_Photog#1Claims" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_Photog#2Claims" path="/Updateitem_Photog#2Claims" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>